@tailwind base;
@tailwind components;
@tailwind utilities;

/* purgecss start ignore */

html {
  font-family: "Inter", "sans-serif";
}

:root {
  --gradient-start: #fd6585;
  --gradient-end: #0d25b9;
}

.gatsby-code-title {
  @apply font-mono text-gray-800 text-sm;
}

@media (prefers-color-scheme: dark) {
  .gatsby-code-title {
    @apply font-mono text-gray-400 text-sm;
  }

  :root {
    --gradient-start: #f27900;
    --gradient-end: #d91698;
  }
}

.gradient-right {
  background: linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
}

.gradient {
  background: linear-gradient(
    to bottom right,
    var(--gradient-start),
    var(--gradient-end)
  );
}
